<ModConfiguration>
  <Id>ReikaKalseki.Turbofuel</Id>
  <Name>Turbofuel</Name>
  <Version>1</Version>
  <IsLocalMod>false</IsLocalMod>
  <IsServerOnlyMod>false</IsServerOnlyMod>
  <Description>
	Adds a new jet turbine generator fuel, using HECF, coal, and sulfur, making turbofuel, which (by default) burns 4x as long with 3x the PPS as HECF. Also includes HOF as an intermediate fuel option.
  </Description>
</ModConfiguration>